.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.layout {
  height: 100%;
}

.header {
  z-index: 10;
  position: sticky;
  top: 0;
}

.footer {
  position: sticky;
  bottom: 0;
}

.header-container {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-icon {
  font-size: 36px;
  color: #fff !important;
}

.github-icon-link {
  color: rgba(0, 0, 0, 0.85);
}

.github-icon-link:hover {
  color: rgba(0, 0, 0, 0.85);
}

.github-icon {
  font-size: 36px;
}
